<?xml version="1.0" encoding="UTF-8"?>
<!--
    Paul Maclean
    Anthony Carrola
    Michael Gorse
    Robert Breckenridge
    VTT
    Program Description: The link between the client side and server side code, so that the client knows where to post the data to. 
-->
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>BusInfoServlet</servlet-name>
        <servlet-class>org.webApp2.model.BusInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BusInfoServlet</servlet-name>
        <url-pattern>/BusInfoServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
